*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'montserrat', sans-serif;
    text-align: center;
    background-color: #D4EDDA;
}
.app-wrap{
    min-height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 12vh 0;
}
h2 i{
    color: #83BA43;
}